@{
    ViewData["Title"] = "Confirmation page";
}

<p>

</p>
<div class="col-sm-12 offset-lg-1 col-lg-10 col-xl-10">
    <h1 style="text-align:center">Thank you for your project submission!</h1>
    <img class="confirmation-gif" src="../thumb-up-animation.gif">
    <hr />
    <p>Your project will be reviewed by an administrator and will appear on the list as soon as it is approved.</p>
    <p>Keep up the good work!</p>
    <p>To get back to the projects page click  <a asp-controller="Projects" asp-action="Index">here.</a></p>
</div>