@{
    ViewData["Title"] = "Confirmation page";
}
<section>
    <h4 style="text-align:center">Thank you for your project submission!</h4>
    <hr />
    <br />
    <article class="col-sm-12 offset-lg-1 col-lg-10 col-xl-10">
        <figure>
            <img class="confirmation-gif" src="../thumb-up-animation.gif">
        </figure>
        <hr />
        <p>Your project will be reviewed by an administrator and will appear on the list as soon as it is approved.</p>
        <p>Keep up the good work!</p>
        <p>To get back to the projects page click  <a asp-controller="Projects" asp-action="Index">here.</a></p>
    </article>
</section>