@{
    ViewData["Title"] = "Pending approval";
}

<p>

</p>
<div style="text-align:center" class="col-sm-12 offset-lg-1 col-lg-10 col-xl-10">
    <h3>This project is currently being reviewed by the administrators...</h3>
    <hr />
    <h4>Thank you for your patience!</h4>
    <p>To get back to the projects page click  <a asp-controller="Projects" asp-action="Index">here.</a></p>
</div>