@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<h4 style="text-align:center">Manage your account</h4>
<hr />
<h5 style="text-align:center">Change your account settings</h5>
<br />

<div class="col-sm-12 offset-lg-1 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-wrap">
        <div class="col-md-3 ">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
