@model List<Volunteers.Models.Notifications.ProjectNotificationViewModel>

@{
    ViewData["Title"] = "All projects";
}
<h4 style="text-align:center">New projects:</h4>
<hr />
<br />
<div class="col-sm-12 offset-lg-1 col-lg-10 col-xl-10">

    @foreach (var project in Model)
    {
        <div class="card text-center">
            <div class="card-header">
                <b>@project.Title</b>
                <a class="btn btn-primary" asp-area=""  asp-controller="Projects"  asp-action="Details" asp-route-id="@project.ProjectId">Details</a>
            </div>
        </div>
    }
</div>

