/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

h1 {
    font-size: 2.3rem;
    font-weight: 300;
}

h2 {
    font-size: 1.9rem;
    font-weight: 300;
}

h3, h4, h5 {
    font-weight: 400;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    background-color: #fafafa;
}

.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    min-height: 50vh;
    margin-top: 50px;
    background-color: white;
}

.tiles {
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 15px;
}

.project-status-active {
    background-color: #28a745;
    color: white;
    font-weight: 500;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-block;
    float: right;
    padding: 0px 5px 0px 5px;
    font-weight: 500;
    font-size: 14px;
}

.project-status-completed {
    background-color: #cccccc;
    color: white;
    font-weight: 500;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-block;
    float: right;
    padding: 0px 5px 0px 5px;
    font-weight: 500;
    font-size: 14px;
}

.confirmation-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
}

#mapid {
    min-height: 400px;
    width: auto;
    margin-bottom: 5px;
}


.leaflet-popup-content {
    overflow-wrap: break-word;
}

.card-text {
    margin-bottom: 0px;
    font-size: 15px;
    word-break: break-word;
}

.project-icons {
    margin-right: 5px;
}

.project-icons-list {
    margin-right: 5px;
    max-height: 20px !important;
}

#projectCoordinates {
    display: none;
}

.jumbotron {
    /*background-color: #f7f7f782;*/
    background-color: #00000008;
}

.modal-body {
    word-break: break-word;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.navbar {
    padding: 1px;
    background-color: white;
    color: white;
    font-size: 15px;
}

.navbar-nav {
    align-items: center;
}

.navbar .container {
        align-items: stretch;
}

.navbar-light .navbar-brand {
    color: gray;
}

.navbar-light .navbar-nav .nav-link {
    color: gray !important;
}

.nav-link {
    padding: 0.3rem 1rem;
}

.nav-item :hover {
    background-color: #8DA47E;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}

.nav-item-button {
    background: none !important;
    border: none;
    padding: 0.4rem 1rem;
    color: gray;
}

.nav-item-add {
    background-color: #8DA47E;
    border-radius: 5px;
    margin-right: 1px;
    color: white !important;
}

.navbar-light .navbar-nav .nav-item-add a {
    color: white !important;
}

.nav-item-add :hover {
    background-color: #176429 !important;
    border-radius: 5px;
}

.logo img {
    max-width: 100%;
    margin-right: 10px;
}

.card-img-top-badge {
    width: 100%;
}

.display-4 {
    font-size: 2.8rem;
}

.card:hover {
    border: 1px gray solid;
    opacity: 0.8;
}

.nav-item {
 
    position: relative;
    
}

.nav-item .badge {
    color: red;
    position: absolute;
    top: -3px;
    right: -9px;
    padding: 4px 8px;
    border-radius: 50%;
    background: red;
    color: white;
    display: none;
}

.footer-icons {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    margin: auto;
}

.footer-icons a {
    color: gray;
}

.footer-icons a:hover {
    color: darkgray;
}