@model IEnumerable<Volunteers.Models.Badges.BadgesListingViewModel>

@{
    ViewData["Title"] = "All badges";
}
<h4 style="text-align:center">All badges:</h4>
<hr />
<br />
<div class="col-sm-12 offset-lg-1 col-lg-10 col-xl-10">

    <div class="card-deck">
        @foreach (var badge in Model)
        {
            <div class="card" style="text-align: center;">
                <div class="badge-image">
                    <img class="card-img-top-badge" src="@badge.Image" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@badge.Title</h5><div class="badges-awarded-to">Awarded to: @badge.Users volunteers</div>
                    <hr />
                    <p class="card-text">@badge.Description</p>
                </div>
            </div>
        }
    </div>
</div>